<p id="notice"><%= notice %></p>

<p>
  <b>Begintime:</b>
  <%= @trip.beginTime %>
</p>

<p>
  <b>Triptype:</b>
  <%= @trip.TripType_id %>
</p>

<p>
  <b>Train:</b>
  <%= @trip.Train_id %>
</p>

<p>
  <b>Line:</b>
  <%= @trip.Line_id %>
</p>

<p>
  <b>Arrivalstation:</b>
  <%= @trip.ArrivalStation_id %>
</p>

<p>
  <b>Departurestation:</b>
  <%= @trip.DepartureStation_id %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
