<%= form_for(@reservation) do |f| %>
  <% if @reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% @reservation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uuid %><br />
    <%= f.text_field :uuid %>
  </div>
  <div class="field">
    <%= f.label :User %><br />
    <%= f.text_field :User %>
  </div>
  <div class="field">
    <%= f.label :Trip %><br />
    <%= f.text_field :Trip %>
  </div>
  <div class="field">
    <%= f.label :ArrivalStation %><br />
    <%= f.text_field :ArrivalStation %>
  </div>
  <div class="field">
    <%= f.label :DepartureStation %><br />
    <%= f.text_field :DepartureStation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
